body, html {
    height: 100%;
    background-repeat: no-repeat;
    background: url(./img/post.jpg) no-repeat center center fixed;
}

/* FOOTER */
.footer {
    background-color: #2a3824;
    color: white;
}

.table {
    color: white;
}

.navbar {
    background-color: white;
}

.servicios {
    background-color: rgb(234, 234, 234);
}

.navbar-nav {
    margin-left: 40rem;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: #648c28;
}

video {
    width: 100%;
}

body {
    background-image: url("certificado.jpg");
}

.conocenos {
    color: white;
}